<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile page</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js" integrity="sha512-r22gChDnGvBylk90+2e/ycr3RVrDi8DIOkIGNhJlKfuyQM4tIRAI062MaV8sfjQKYVGjOBaZBOA87z+IhZE9DA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style3.css" rel="stylesheet">
    <!-- start here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style4.css">
</head>
<style>
    html,body{
    
      width: 100%;
      height:100%; 
    }
    table {
        width: 100%;
        text-align: center;
    }
    tr{
        color:black;
        font-family: century gothic;
        border-bottom:1px solid black;
    }
    th{
        color:#2fb5ae;
        font-family: century gothic;

    }
    a:link {
        color: #2fb5ae;
        background-color: transparent;
        text-decoration: none;
    }
    
    /* body{
     margin: 0; 
    
} */
    
</style>

<body>
    <section>
       <div class="container-fluid bg-dark px-0" style="width:100%;margin:0 px;">
        <div class="row gx-0">
            <div class="col-lg-3  d-none d-lg-block" style="background-color: #0F172B;">
                
                <a class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img src="/img/iiita.png" style="height: 60px; width:60px; margin-right: 50px;">
                    <h1 class="m-0  text-uppercase" style="font-family: poppins;color:#3acbc4; text-align: left; margin-left: 50px; font-family: 'Poppins';">BDA LAB</h1>
                </a>    
            </div>
            
        </div>
        </div>
  <!-- Sidenav -->
  <div class="sidenav">
    <div class="profile">
        <img src="/img/userimage.png" alt="" width="100" height="100">
    </div>
    <div class="sidenav-url">
        <div class="url">
            <a href="/logout">Logout</a>
            <a href="/users/edit/<%= m._id %>">Edit Profile</a>
            <hr align="center">
        </div>
        
    </div>
</div>
<!-- End -->

<!-- Main -->
<div class="main">
    <h2>Profile</h2>
    <div class="card">
        <div class="card-body">
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td><%= m.name %></td>
                    </tr>
                    <tr>
                        <td>Position</td>
                        <td>:</td>
                        <td><%= m.position %></td>
                    </tr>
                    <tr>
                        <td>Enrollment No</td>
                        <td>:</td>
                        <td><%= m.enroll %></td>
                    </tr>
                    <tr>
                        <td>Subjects</td>
                        <td>:</td>
                        <td><%= m.subjects %></td>
                    </tr>
                
                    
                </tbody>
            </table>
            <h2 style="text-align:center;">My Publications</h2>
    <table  id="table2">
        <thead>
          <tr>
                <th>Authors</th>
                <th>Publication in MLA format</th>
                <th>Title</th>
                <th>PDF URL/ LINK</th>        
          </tr>
        </thead>
        <tbody>
          <%list.forEach((article)=>{%>
            <tr>
                <td><%= article.author1 %>,<%= article.author2 %>,<%= article.author3 %></td>
                <td><%= article.mla %></td>
                <td><%= article.title %></td>
                <td><a href="<%= article.pdf %>">PDF</a></td> 
            </tr>   
            <%})%>
        </tbody>
        </table>
        </div>
        
    </div>
    <center>
    
    <!--<form id="person" method="POST" action="/postlogin/<%= m.username %>">
        <button style="border-radius: 4px;background-color: aqua; color:black;border-color:#0F172B;font-family:'century gothic';">My Publications</button>
    </form>-->
</center>
</section>
</div>
<!-- End -->
    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
     <script src="/lib/wow/wow.min.js"></script>
     <script src="/lib/easing/easing.min.js"></script>
     <script src="/lib/waypoints/waypoints.min.js"></script>
     <script src="/lib/counterup/counterup.min.js"></script>
     <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
     <script src="/lib/tempusdominus/js/moment.min.js"></script>
     <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
     <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
 
     <!-- Template Javascript -->
     <script src="/js/main.js"></script>
    </section>
    <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
    
    
</body>

</html>