<%- include('partials/iheader.ejs') %>
<style>
    body,html{
      scroll-behavior: smooth;
      width: 100%;
      height:100%; 
    }  
    table{
        text-align: center;
        font-family: 'Poppins';
    }
    th{
        color:#3acbc4;
    }
    tr{
        color:black;
    }  
</style>
<h1 style="text-align:center">Members</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Enrollment Number</th>
                <th>Subjects</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%list.forEach((article)=>{%>
            <tr>
                <td><%= article.name %></td>
                <td><%= article.position %></td>
                <td><%= article.enroll %></td>
                <td><%= article.subjects %></td>
            </tr>
            <%})%>
        </tbody>
</table>

<%- include('partials/ifooter.ejs') %>